{{ if .Values.testing.autoScaling.enabled }}
apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: {{ include "akto.fullname" . }}-scaled-object
  namespace: {{ .Release.Namespace }}
spec:
  scaleTargetRef:
    name: {{ include "akto.fullname" . }}
  minReplicaCount: {{ .Values.testing.autoScaling.minReplicas }}
  maxReplicaCount: {{ .Values.testing.autoScaling.maxReplicas }}
  pollingInterval: {{ .Values.testing.autoScaling.customMetrics.pollingInterval }}
  cooldownPeriod: {{ .Values.testing.autoScaling.customMetrics.cooldownPeriod }}
  triggers:
  - type: {{ .Values.testing.autoScaling.customMetrics.type }}
    name: {{ .Values.testing.autoScaling.customMetrics.isModuleBusy.trigger.name }}
    metadata:
      {{- if .Values.testing.grafanaCloud.enabled }}
      # Grafana Cloud endpoint
      serverAddress: {{ .Values.testing.grafanaCloud.queryUrl }}
      authModes: "basic"
      {{- else if .Values.testing.kubePrometheus.enabled }}
      # In-cluster Prometheus endpoint
      serverAddress: http://{{ .Values.testing.kubePrometheus.serviceName }}.{{ .Values.testing.kubePrometheus.namespace | default .Release.Namespace }}.svc.cluster.local:{{ .Values.testing.kubePrometheus.port }}
      {{- end }}
      metricName: {{ .Values.testing.autoScaling.customMetrics.isModuleBusy.metricName }}
      query: "avg({{ .Values.testing.autoScaling.customMetrics.isModuleBusy.metricName }})"
      threshold: {{ quote .Values.testing.autoScaling.customMetrics.isModuleBusy.trigger.target }}
    {{- if .Values.testing.grafanaCloud.enabled }}
    authenticationRef:
      name: {{ include "akto.fullname" . }}-grafana-cloud-auth
    {{- end }}
{{ end }}
