tokens:
  env:
    databaseAbstractorToken: ""
    proxyUri: ""
    noProxy: ""

testing:
  aktoApiSecurityTesting:
    env:
      aktoAccountName: Helios
      aktoConfigName: staging
      puppeteerReplayServiceUrl: http://localhost:3000
      databaseAbstractorUrl: https://cyborg.akto.io
    image:
      repository: public.ecr.aws/aktosecurity/akto-api-security-mini-testing
      tag: 1.42.1_local
    resources:
      requests:
        cpu: "200m"
        memory: "500Mi"
      limits:
        cpu: 2
        memory: "8Gi"
  aktoApiSecurityPuppeteerReplay:
    image:
      repository: aktosecurity/akto-puppeteer-replay
      tag: latest
    imagePullPolicy: IfNotPresent
    resources:
      requests:
        cpu: 1
        memory: "2Gi"
      limits:
        cpu: 1
        memory: "4Gi"
  replicas: 1

keel:
  keel:
    env:
      awsAccessKeyId: ""
      awsRegion: ""
      awsSecretAccessKey: ""
      hipchatApprovalsBotName: ""
      hipchatApprovalsChannel: ""
      hipchatApprovalsPasswort: ""
      hipchatApprovalsUserName: ""
      hipchatChannels: ""
      hipchatToken: ""
      insecureRegistry: "true"
      mattermostEndpoint: ""
      notificationLevel: info
      webhookEndpoint: ""
    image:
      repository: keelhq/keel
      tag: latest
    imagePullPolicy: Always
    resources:
      limits:
        cpu: 100m
        memory: 128Mi
      requests:
        cpu: 50m
        memory: 64Mi
    enabled: true
  maxUnavailable: 1
  ports:
  - name: keel
    port: 9300
    protocol: TCP
    targetPort: 9300
  replicas: 1
  serviceAccount:
    annotations: {}
  type: LoadBalancer
kubernetesClusterDomain: cluster.local