kubernetesClusterDomain: cluster.local

# Busybox image for init containers
busybox:
  image:
    repository: busybox
    digest: sha256:b3255e7dfbcd10cb367af0d409747d511aeb66dfac98cf30e97e87e4207dd76f

# Node scheduling configuration
nodeSelector: {}
  # Example usage:
  # nodetype: coreservices

tolerations: []
  # Example usage:
  # - key: nodetype
  #   operator: Equal
  #   value: coreservices
  #   effect: NoSchedule

affinity: {}
  # Example usage:
  # nodeAffinity:
  #   requiredDuringSchedulingIgnoredDuringExecution:
  #     nodeSelectorTerms:
  #     - matchExpressions:
  #       - key: nodetype
  #         operator: In
  #         values:
  #         - coreservices

dataIngestionService:
  image:
    repository: aktosecurity/data-ingestion-service
    digest: "sha256:213aded7adc54b809bbd887d85dfc028eaca95fe296190d8f9d1926395631f2b"
  imagePullPolicy: Always

  env:
    aktoTrafficBatchSize: "100"
    aktoTrafficBatchTimeSecs: "10"
    aktoKafkaBrokerUrl: akto-mini-runtime-mini-runtime:9092
    aktoKafkaProducerBatchSize: "10"
    aktoKafkaProducerLingerMs: "10"
    aktoKafkaTopicName: "akto.api.logs"
    aktoLogLevel: "WARN"

  resources:
    requests:
      cpu: 500m
      memory: "512Mi"
    limits:
      cpu: 1
      memory: "1Gi"

  replicas: 1

  service:
    type: LoadBalancer
    port: 8080
    targetPort: 8080
    internal: true
    # Comma-separated subnet IDs, e.g., "subnet-xxx,subnet-yyy,subnet-zzz"
    subnets: ""

  restartPolicy: Always

  # Kafka SASL Authentication
  useSasl: false  # Set to true to enable SASL authentication

  kafka:
    saslUsername: ""
    saslPassword: ""

    useSecretsForSaslCredentials: false
    saslCredentialsSecrets:
      existingSecret: "akto-mini-runtime-mini-runtime-sasl"  # Name of existing secret of mini-runtime (e.g., "akto-kafka-sasl")
      username: ""  
      password: ""  