kubernetesClusterDomain: cluster.local

dataIngestionService:
  image:
    repository: aktosecurity/data-ingestion-service
    tag: "sha256:291f1e2df21bbb6be698efb5c51cb7925acfd354f7b64d5bf01153b650a34b59"
  imagePullPolicy: Always

  env:
    aktoTrafficBatchSize: "100"
    aktoTrafficBatchTimeSecs: "10"
    aktoKafkaBrokerUrl: akto-mini-runtime-mini-runtime:9092
    aktoKafkaProducerBatchSize: "10"
    aktoKafkaProducerLingerMs: "10"
    aktoKafkaTopicName: "akto.api.logs"

  resources:
    requests:
      cpu: 500m
      memory: "512Mi"
    limits:
      cpu: 1
      memory: "1Gi"

  replicas: 1

  service:
    type: LoadBalancer
    port: 8080
    targetPort: 8080
    internal: true
    # Comma-separated subnet IDs, e.g., "subnet-xxx,subnet-yyy,subnet-zzz"
    subnets: ""

  restartPolicy: Always
