kubernetesClusterDomain: cluster.local

dataIngestionService:
  image:
    repository: aktosecurity/data-ingestion-service@sha256:736bfdb24ba176a783174160301c89853d7b8c10f198927d27cbdebcbacaa3de
    tag: ""
  imagePullPolicy: Always

  env:
    aktoTrafficBatchSize: "100"
    aktoTrafficBatchTimeSecs: "10"
    aktoKafkaBrokerUrl: akto-mini-runtime-mini-runtime:9092
    aktoKafkaProducerBatchSize: "10"
    aktoKafkaProducerLingerMs: "10"
    aktoKafkaTopicName: "akto.api.logs"
    aktoLogLevel: "DEBUG"
    aktoKafkaReconnectIntervalSeconds: "30"

  resources:
    requests:
      cpu: 500m
      memory: "512Mi"
    limits:
      cpu: 1
      memory: "1Gi"

  replicas: 1

  service:
    type: LoadBalancer
    port: 8080
    targetPort: 8080
    internal: true
    # Comma-separated subnet IDs, e.g., "subnet-xxx,subnet-yyy,subnet-zzz"
    subnets: ""

  restartPolicy: Always
