{{- if false }}
# ConfigMap not needed - JAAS config is generated dynamically in the container command
# This file is disabled because we generate the JAAS config at runtime using a command wrapper
#
# Original template (kept for reference):
# {{- if and (not .Values.mini_runtime.useExternalKafka) .Values.mini_runtime.kafka1.useSasl }}
# apiVersion: v1
# kind: ConfigMap
# metadata:
#   name: {{ include "akto.fullname" . }}-kafka-jaas-config
#   labels:
#     {{- include "akto.labels" . | nindent 4 }}
# data:
#   kafka_server_jaas.conf: |
#     KafkaServer {
#       org.apache.kafka.common.security.plain.PlainLoginModule required
#         {{- if .Values.mini_runtime.kafka1.env.useSecretsForSaslCredentials }}
#         username="${env:KAFKA_SASL_USERNAME}"
#         password="${env:KAFKA_SASL_PASSWORD}"
#         user_${env:KAFKA_SASL_USERNAME}="${env:KAFKA_SASL_PASSWORD}";
#         {{- else }}
#         username="{{ .Values.mini_runtime.kafka1.env.saslUsername }}"
#         password="{{ .Values.mini_runtime.kafka1.env.saslPassword }}"
#         user_{{ .Values.mini_runtime.kafka1.env.saslUsername }}="{{ .Values.mini_runtime.kafka1.env.saslPassword }}";
#         {{- end }}
#     };
# {{- end }}
{{- end }}
